 <!doctype html>
 <html>
   <head>
     
     <title>
       {{notes.topic}}
     </title>
      {%include 'bootstrap.html'%}
<!----------------------------------------------->
<Style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius:30px;
  background-color:#E3DFFD;
}

.title1 {
  color: grey;
  font-size: 18px;

}

#card {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}




  #page{
    background-color:#ECF2FF;
  }
      
</Style>




 <!------------------------------------------->    
   </head>
   <body id="page">
   {%include 'nav.html'%}
     <br><br>
     
    <br>
     <img src="https://KarVin-website-1.kartikeyakushwa.repl.co/static/notesbanner.jpg" class="img-fluid" alt="..." id="banner">

     
     <br><br>
<div>
   <a href="https://www.youtube.com/@kartikeyakushwaha9762" target="_blank" style="margin-left:300px"> 
     <button class="btn btn-outline-danger">
      Join us on YouTube
   </button >
   </a>
     
   <a href="https://t.me/learn_with_KK" target="_blank"> 
     <button class="btn btn-outline-info" style="margin-left:500px">
      Join us on Telegram
   </button >
   </a>
</div>
     
    <br>
     <br>
    <center> <h3 style="margin-left:30px">
      {{notes.subjects}}
     </h3>
      <h3 style="margin-left:30px">Topic-<u>{{notes.topic}}</u></h3>
     <br><br>
    </center>
<!--------------------------------------------------->
<div class="class="grid text-center" style="--bs-columns: 4; --bs-gap: 5rem;"">

  <div class="g-col-2">
  <div class="card ">
 
 <h1>Video Lectures</h1>
  <p class="title1">powered by </p>
  <p>Vinayak classes</p>
 <p>
  <a href="{{notes.playlistlink}}" target="_blank" > 
     <button class="btn btn-outline-danger">
      Playlist
   </button ></a></p>
</div>
  </div>
<br><br><br>
<div class="g-col-2">
  <div class="card ">
 
  <h1>Notes</h1>
  <p class="title1">powered by </p>
  <p>Vinayak classes</p>
 <p>
  <a href="{{notes.link}}" target="_blank" > 
     <button class="btn btn-outline-info">
    Download Notes
   </button ></p></a>
</div>
  </div>
    </div>


 <br><br><br>
<div class="g-col-2">
  <div class="card ">
 
  <h1>Quiz</h1>
  <p class="title1">powered by </p>
  <p>Vinayak classes</p>
 <p>
  <a href="{{notes.quiz}}" target="_blank" > 
     <button class="btn btn-outline-success">
       Quiz
   </button ></p></a>
</div>
  </div>
    </div>

<!-- After the embedded vedio link ----->







     
     

     
     {%include 'footer.html'%}
   </body>
 </html>