 <!doctype html>
 <html>
   <head>
     <title>
       {{notes.topic}}
     </title>
      {%include 'bootstrap.html'%}
   </head>
   <body>
   {%include 'nav.html'%}
     <br><br>
     
    <br>
     <img src="https://KarVin-website-1.kartikeyakushwa.repl.co/static/notesbanner.jpg" class="img-fluid" alt="..." id="banner">

     
     <br><br>
<div>
   <a href="https://www.youtube.com/@kartikeyakushwaha9762" target="_blank" style="margin-left:150px"> 
     <button class="btn btn-outline-danger">
      Join us on YouTube
   </button >
   </a>
     
   <a href="#" target="_blank"> 
     <button class="btn btn-outline-info" style="margin-left:750px">
      Join us on Telegram
   </button >
   </a>
</div>
     
    <br>
     <br>
     <h3 style="margin-left:30px">
      {{notes.subjects}}
     </h3>
      <h3 style="margin-left:30px">Topic-<u>{{notes.topic}}</u></h3>
     <br><br>

<!------->
 <div class="p-3 mb-2 bg-info-subtle text-emphasis-info.text-primary p-3 mb-2 bg-info-subtle text-emphasis-info container" style="background-color:skyblue  padding:0 " > 
     
<p class="lead">
  {{notes.intro}}
</p>
</div>
    
<!-- After the embedded vedio link -->
     <div>
   <a href="{{notes.playlistlink}}" target="_blank" style="margin-left:300px"> 
     <button class="btn btn-outline-danger">
      Playlist
   </button >
   </a>
     
   <a href="{{notes.link}}" target="_blank"> 
     <button class="btn btn-outline-info" style="margin-left:590px">
      Download Notes
   </button >
   </a>
</div>

     
     {%include 'footer.html'%}
   </body>
 </html>