 
       
        <div class="border-bottom row"  style="margin-bottom:16px; padding:25px;">
        <div class="col-9"> 
          <h4 style="color:rgb(120,120,120);margin-bottom:" 20px"> {{note['Subject']}}
         </h4>
          
          <div>
            <b>Topics:</b>
            {{note['Topics']}}
          </div>
       
      <div>
        <b>Board:</b>{{note['Board']}}
      </div>
      </div>
    

<div class="col-3">
  <button class="btn btn-outline-info">
            Download &#128512;
  </button>
</div>

        </div>